node_modules/
node_modules_old/
.env
.DS_Store
dist/
build/
.next/
*.log
api/node_modules/
frontend/node_modules/
api/.env
frontend/.env
uploads/
nfs-uploads/
api/uploads/
frontend/dist/
api/package-lock.json
frontend/package-lock.json
